.hr_sm {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid rgba(238, 238, 238, 0.37);}
.panel {
    border-radius: 0px;}
.hr_sm2 {
    margin-top: -6px;
    margin-bottom: 6px;
    border: 0;
    border-top: 1px solid #eee;}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 82%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;}
.post-header-line {
    border-bottom: 1px solid #DDD;
    padding: 10px 0px 10px 25px;
    font-size: 13px;}
.post-header-line-disable {
    font-size: 13px;}
.btn-admin {
    color: #fff;
    background-color: #777;
    border-color: #6D6D6D;}
.btn-admin:hover,
.btn-admin:focus,
.btn-admin.focus,
.btn-admin:active,
.btn-admin.active,
.open > .dropdown-toggle.btn-admin {
    color: #fff;
    background-color: #606060;
    border-color: #6D6D6D;}
.btn-admin:active,
.btn-admin.active,
.open > .dropdown-toggle.btn-admin {
    background-image: none;}
.btn-admin.disabled,
.btn-admin[disabled],
fieldset[disabled] .btn-admin,
.btn-admin.disabled:hover,
.btn-admin[disabled]:hover,
fieldset[disabled] .btn-admin:hover,
.btn-admin.disabled:focus,
.btn-admin[disabled]:focus,
fieldset[disabled] .btn-admin:focus,
.btn-admin.disabled.focus,
.btn-admin[disabled].focus,
fieldset[disabled] .btn-admin.focus,
.btn-admin.disabled:active,
.btn-admin[disabled]:active,
fieldset[disabled] .btn-admin:active,
.btn-admin.disabled.active,
.btn-admin[disabled].active,
fieldset[disabled] .btn-admin.active {
    background-color: #5cb85c;
    border-color: #4cae4c;}
.btn-admin .badge {
    color: #5cb85c;
    background-color: #fff;}
.object-fit_fill {
    object-fit: fill}
.object-fit_contain {
    object-fit: contain}
.object-fit_cover {
    object-fit: cover}
.object-fit_cover_radius {
    object-fit: cover;
    border-radius: 50%}
.object-fit_none {
    object-fit: none}
.object-fit_scale-down {
    object-fit: scale-down}
#top {
    display: none;
    cursor: pointer;
    bottom: 0;
    font-size: 150%;
    position: fixed;
    right: 0px;
}